//color 
    $primaryColor : #FFDEDE;
    $numberColor : #C6DCE4;
    $opColor: #FFE6E6;
    $op2Color: #FFE6E6;
    $screenColor: #F2D1D1;
    $secondaryColor : #ABC9FF;

    $thirdsColor :#EB4747;

//calculator width

$width : 500px;
$height : 750px;
//screen
$screenH : 150px;
$screenW : 100%;

//buttons operation
$operationWidth : 100px;
$operationHeight : 600px;

//buttons keys
$keysWidth : 400px;
$keysHeight : 600px;

//row
$rowHeight : 20%;

//buttons
$butHeight : 100%;
$butWidth : 100%;

